h1{
    color: #000;

text-align: center;
font-family: "Noto Sans JP";
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;


}

.controll{
    display: flex;
width: 410px;
height: 119px;
padding: 13.5px;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;

border: 1px solid #000;

background: #D9D9D9;
}

h2{
    color: #000;

text-align: center;
font-family: "Noto Sans JP";
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.controll2{
    display: flex;
width: 410px;
height: 119px;
padding: 13.5px;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
border: 1px solid #000;

background: #D9D9D9;

}

h3{
    color: #000;

font-family: Inter;
font-size: 64px;
font-style: normal;
font-weight: 400;
line-height: normal;

}
.controll3{
    width: 879px;
height: 291px;
flex-shrink: 0;
background: #D9D9D9;

}

h4{
    color: #000;

font-family: Inter;
font-size: 64px;
font-style: normal;
font-weight: 400;
line-height: normal;

}

.controll4{
    width: 879px;
height: 291px;
flex-shrink: 0;
background: #D9D9D9;

}

#1{
    display: flex;
}

h5{

}

.controll5{
    width: 1437px;
height: 184px;
flex-shrink: 0;
background: #D9D9D9;
}