body{
    margin: 0;
    
      
  }
  
  
  
  h3{
      margin: 0;
      color: #000;
      text-align: center;
      font-family: Inter;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      position: relative;
      top: 40px;
      right: 777px;
      font-size: 40px;
  }
  
  h4{
      margin: 0;
      color: #000;
      text-align: center;
      font-family: Inter;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      position: relative;
      top: 95px;
      right: 777px;
      font-size: 40px;
  }
  
  button{
      display: inline-flex;
  padding: 12.5px 16px;
  align-items: center;
  gap: 8px;
  color: #FFF;
  border-radius: 8px;
  border: var(--, 1px) solid #B3B3B3;
  background: #1A69C6;
  position: relative;
  top: 195px;
  left:45px;
  
  }
  
  .box{
      margin       : 0;
      width        : 1700px;
      height       : 200px;
      background: #D9D9D9;
      position: relative;
      top: 60px;
      left:97px;
  }
  
  textarea{
    padding: 0%;
      width: 1700px;
      height: 200px;
      fill: #D9D9D9;
      position: relative;
      top: 95px;
      left: 97px;
  }
  h5{
    width: 300px;
    position: relative;
    top: 51px;
    left: 271px;
    margin: 0%;
    font-size: 25px;
  }
 
  .textbox{
    position: relative;
    top:  -318px;
    right: 1340px;
  }

  .switch{
    width: 300px;
    position: relative;
    top:  127px;
    left: 1761px;
  }
  