.name{
    position: relative;
    left: 516px;
    top: 50px;
    color: #000;
    
font-family: "Noto Sans JP";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 100%; /* 16px */
}
.number{
    position: relative;
    left: 515px;
    top: 45px;
    color: #000;

font-family: "Noto Sans JP";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 100%; /* 16px */
}
.sensei{
    position: relative;
    left: 250px;
    bottom: 63px;
    color: #000;

font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
a{
    position: relative;
    left: 250px;
    display: flex;
width: 909px;
height: 303px;
padding: 11px;
align-items: flex-start;
gap: 10px;
flex-shrink: 0;
border-radius: 8px;
border: 1px solid #B3B3B3;

background: #FFF;
}
.button{
    position: relative;
    left: 1274px;
    top: 44.5px;
    display: flex;
width: 50px;
height: 40px;
padding: 12.5px 16px;
align-items: center;
gap: 8px;
flex-shrink: 0;
border-radius: 8px;
border: 1px solid #B3B3B3;

background: #1A69C6;
}
.text1{
    position: relative;
    left: 515px;
    top: 40px;
}
.text2{
    position: relative;
    left: 515px;
    top: 20px;
}
.hisu{
    position: relative;
    left: 540px;
    top: 19px;
    color: red;
    font-family: "Noto Sans JP";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 100%;
}
.hisu2{
    position: relative;
    left: 588px;
    top: 13px;
    color: red;
    font-family: "Noto Sans JP";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 100%;
}