p{
    color: #000;

font-family: "Noto Sans JP";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 100%; /* 16px */
}
p{
    color: #000;

font-family: "Noto Sans JP";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 100%; /* 16px */
}
p{
    color: #000;

font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

