.navbar .navbar-nav .active > .nav-link {
    color: rgb(0, 0, 0);
}
.nav-item{
    font-size: 70px;
    margin-right: 85px;
}
.triangle{
    background:#0dcaf0;
    height: calc(tan(60deg) * 300px / 2);
    width: 350px;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    position: absolute;
    top: 200px;
    left: 0px;
}

.homename1{
    display: flex;
    color: #FE5F55;
    font-size: 100px;
    font-weight: bold;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #FFF;
    font-family: Inter;
    margin: 0;
    text-align: center;
    width: 320px;
    height: 155px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}

.homename2{
    position: relative;
    display: flex;
    color: #FE5F55;
    font-size: 50px;
    font-weight: bold;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #FFF;
    font-family: Inter;
    margin: 0;
    line-height: 70px;
    text-align: center;
    width: 350px;
    height: 125px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    z-index: 2;
}