.company,.situation,.remakes {
    list-style: none;
    margin-top: 100px;
}
label{
    margin-right: 20px;
    width: 100px;
    float: left;
}
.job{
    width: 450px;
    height: 250px;
    margin: 0 auto;
}
select{
    option[value=""]{
        display: none;
    }
}
