.uull li {
    list-style: none;
    margin-top: 110px;
}
label{
    width: 100px;
    float: left;
   
}
.uull{
    width: 450px;
    height: 400px;
    margin: 0 auto;
}
.example{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #68779a;
    background: #cbe8fa;
    cursor: pointer;
    border-radius:10px;
    margin-top: calc(100% - 300px);
}
.date-edit{
    width: 100%;
    font-size: 30px;
}
.name{
    width: auto;
    font-size: 33px;
}
.message{
    font-size: 30px;
    width: 100%;
}
.date-edit input{
    width: 100%;
}

.example{
    font-size: 30px;
}

.lname{
    width: 100%;
}