.uull li {
    list-style: none;
    margin-top: 180px;
}
label{
    margin-right: 50px;
    width: 100px;
    float: left;
   
}
.uull{
    width: 450px;
    height: 400px;
    margin: 0 auto;
}
.example{
    width: 500px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #68779a;
    background: #cbe8fa;
    cursor: pointer;
    position: absolute;
    left: 730px;
    border-radius:10px;
    margin-top: 65px;
}
.date-edit{
    margin-top: 54px;
    position: absolute;
    right: 1000px;
    font-size: 35px;
}
.name{
    width: 150px;
    font-size: 33px;
}
.message{
    font-size: 33px;
    margin-left: 5px;
}
.date{
    width: 370px
}