body{
    margin: 0;
}
.section1{
    display: flex;
}
.teacher_info{
    color: #000;
    margin: 80px 50px 0px 50px;
    padding: 50px 50px 0px 50px;
}
.g1{
    text-align: center;
    font-size: 40px;
}
.n1{
    font-size: 40px;
}
.teacher_number,.name {
    font-size: 33px;
}
h5{
    color: #000;
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
}
.miss_student{
    background: #B5F4AC;
    width: 800px;
    height: 300px;
    margin: 50px auto 0 300px;
    font-size: 30px;
    
}
.g2{ 
    text-align: center;
    font-size: 30px;
}
.miss{
    color: #000;
    font-family: Inter;
    font-size: 30px;
}

.section2-1{
    display: flex;
    margin: 0px 0px 0px 610px;
    padding: 50px 0px 0px 50px;
}
.notice_title{
    font-size: 30px;
    background: #B5F4AC;
    width: 350px;
    height: 300px;
    list-style:none;
}
.g3{
    text-align: center;
    font-size: 30px;
}

.notice{
    color: #000;
    font-family: Inter;
    font-size: 30px;
}
.question_number{
    font-size: 30px;
    margin-left: 100px;
    background: #B5F4AC;
    width: 375px;
    height: 300px;
    list-style:none;
}
.g4 {
    text-align: center;
    font-size: 30px;
}
.question{
    font-size: 30px;
}

.g5{
    position: absolute;
    left: 50px;
    top: 850px;
    font-size: 40px;
}
