.session1{
    font-size: 30px;
}
.question{
    margin: 150px auto 0px;
    width: fit-content;
    list-style: none;
    padding: 0%;
}
.question li{
    margin-bottom: 40px;
}
li:nth-child(0n+3){
    display: flex;
    flex-direction: column;
}
.example{
    width: 600px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #68779a;
    background: #cbe8fa;
    cursor: pointer;
    border-radius: 15px;
}

#message{
    resize: none;
    height: 200px;
}

#menu{
    margin: 0px 0px 0px 35px;
}