.tbl{
    margin: 200px 200px 100px 200px;
}

.tb2{
    margin: 200px 200px 100px 200px;
}

.number{
font-size: 20px;
width: 135px;
height: 40px;
padding: 13.5px;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
background-color: #1a69c6;
color: #FFF;
}
.number2{
font-size: 20px;
width: 135px;
height: 63.091px;
padding: 13.5px;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
background-color: #1a69c6;
color: #FFF;
}

.name{
font-size: 20px;
width: 175px;
height: 63.091px;
padding: 13.5px;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
background-color: #1a69c6;
color: #FFF;
}
.hurigana{
font-size: 20px;
width: 175px;
height: 63.091px;
padding: 13.5px;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
background-color: #1a69c6;
color: #FFF;
}
.dennwa{
font-size: 20px;
width: 253px;
height: 63.091px;
padding: 13.5px;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
background-color: #1a69c6;
color: #FFF;
}
.mail{
font-size: 20px;
width: 253px;
height: 63.091px;
padding: 13.5px;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
background-color: #1a69c6;
color: #FFF;
}
.pass{
font-size: 20px;
width: 253px;
height: 63.091px;
padding: 13.5px;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
background-color: #1a69c6;
color: #FFF;
}
.a{
    width: 135px;
    height: 60px;
    padding: 13.5px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}
table{
    margin: 0px 242px 0;
    width: 1400px;
}

.form-group{
    position: relative;
}
.button{
    margin: 0px 1410px 50px 242px;
    font-size: 20px;
padding: 12.5px 16px;
align-items: center;
gap: 8px;
background-color: #1a69c6;
color: #FFF;
}

.registration{
    margin: 100px 0px 0px 242px;
}

.up{
    margin: 0px 0px 0px 242px;
}